<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="/vue-YT-L1/main.js"></script>
</head>

<body>
  <div class="app"></div>
  <script src="https://unpkg.com/vue"></script>
  <script>

    /*
      v-model="name"				v-on:click.lazy.number
        v-bind:value="name"
        v-on:input="name = $event.target.value"
        
      v-bind			:value="some"
      v-on				v-on:click.prevent.once		@click=""
      v-if
      v-else-if
      v-else
      v-show
      v-for
      e t.c.
    */

    // Из глобальной переменной Vue возьмём функцию createApp
    let { createApp } = Vue
    let rootComponent = {
      template: `
        <input type="text" v-model="name">
        <button v-on:click="cleanName" v-bind:disabled="!nameFilled">x</button>
        <div v-show="nameFilled">
          <h2>Hello, {{ name }}</h2>        
        </div>
      `,
      data() {
        return {
          name: ''
        }
      },
      computed: {
        nameFilled() {
          return this.name.length > 0
        }
      },
      methods: {
        cleanName() {
          this.name = ''
        }
      }
    }
    let app = createApp(rootComponent)
    app.mount('.app')

    // data, computed, methods

    // data
    //  cart: [],
    //  money: int,
    //  cupon: null,

    // computed
    //  total()

    // methods
    //  add(pr)
    //  remove(id)
    //  order()
  </script>
</body>

</html>